app/pet/__pycache__/__init__.cpython-311.pyc
app/pet/__pycache__/admin.cpython-311.pyc
app/pet/__pycache__/apps.cpython-311.pyc
app/pet/__pycache__/forms.cpython-311.pyc
app/pet/__pycache__/models.cpython-311.pyc
app/pet/__pycache__/resources.cpython-311.pyc
app/pet/__pycache__/tests.cpython-311.pyc
app/pet/__pycache__/urls.cpython-311.pyc
app/pet/__pycache__/views.cpython-311.pyc
app/pet/migrations/__pycache__/__init__.cpython-311.pyc
app/pet/migrations/__pycache__/0001_initial.cpython-311.pyc
app/pet/migrations/__pycache__/0002_initial.cpython-311.pyc
app/pet_store_docker/__pycache__/settings.cpython-311.pyc
app/pet_store_docker/__pycache__/urls.cpython-311.pyc
app/pet_store_docker/__pycache__/settings.cpython-311.pyc
app/pet_store_docker/__pycache__/urls.cpython-311.pyc
