{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} 

{% block content %}

<h1>Login</h1>
<form action="{% url 'users:login' %}" method="POST">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-3">{{form.email|as_crispy_field}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">{{form.password|as_crispy_field}}</div>
  </div>

  <input type="submit" value="Login" />
</form>
<p>Não é registrado ainda!</p>
<a href="{% url 'users:tutor-signup' %}">Registre-se como Tutor</a><br />
<a href="{% url 'users:veterinarian-signup' %}">Registre-se como Veterinário</a>
{% endblock %}
