{% extends 'base.html' %}  

{% load static %} 

{% block content %}

<div class="container">
    <h1 class="mt-3">Detalhes da Raça</h1>
    
    <div class="row">
      <div class="col-md-3 mt-3">Nome: {{object.nome}}</div>
    </div>
  
    <div class="col-md-4 mt-1 mb-1">
        <a
          href="{% url 'raca:raca_list' %}"
          class="btn btn-secondary btn-block btn-lg"
        >
          <i class="fas fa-stream"></i> Volta para a Lista
        </a>
      </div>

</div>

{% endblock %}
