{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {%
block content %}

<div class="container border border-dark">
  <h5 class="mt-4">Exame Médico</h5>
  <h6><strong>Dados do Exame Médico</strong></h6>
  <hr />
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-4">{{form.veterinario|as_crispy_field}}</div>
      <div class="col-md-4">{{form.pet|as_crispy_field}}</div>
    </div>

    <div class="row border border-dark">
      <div class="col-md-8 mt-1 mb-1">
        <button type="submit" class="btn btn-success btn-block btn-lg">
          <i class="fas fa-database"></i>
          Gravar
        </button>
      </div>
      <div class="col-md-4 mt-1 mb-1">
        <a
          href="{% url 'users:veterinarian-home' %}"
          class="btn btn-secondary btn-block btn-lg"
        >
          <i class="fas fa-stream"></i> Volta
        </a>
      </div>
    </div>
  </form>
</div>

{% endblock %}
